<div>
    <h2 id="page-heading">
        <span>Shop</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div *ngIf="products">
        <div *ngFor="let product of products; trackBy: trackId">
            <div class="card" style="width: 12%; float:left; margin: 5px">
                <img class="card-img-top" [src]="product.image" alt="alt text">
                <h5 class="card-header">{{ product.name }}</h5>
                <div class="card-body">
                    <p class="card-text small text-danger"><a>{{ product.productCategory.name }}</a></p>
                    <p class="card-text" style="text-align: left"><b>{{ product.price }} €</b></p>
                    <button type="button"
                            [routerLink]="['/product', product.id, 'view']"
                            class="btn btn-primary btn-block btn-sm">
                            <span>Check Details</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
