<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-invoice-heading">Create or edit a Invoice</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!invoice.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="invoice.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="invoice.code" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" name="status" [(ngModel)]="invoice.status" id="field_status"  required>
                        <option value="PAID">PAID</option>
                        <option value="PENDING">PENDING</option>
                        <option value="OVERDUE">OVERDUE</option>
                    </select>
                    <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.status?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dueDate">Due Date</label>
                    <input type="text" class="form-control" name="dueDate" id="field_dueDate"
                        [(ngModel)]="invoice.dueDate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_paymentDate">Payment Date</label>
                    <input type="text" class="form-control" name="paymentDate" id="field_paymentDate"
                        [(ngModel)]="invoice.paymentDate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                        [(ngModel)]="invoice.amount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_customerId">Customer Id</label>
                    <input type="number" class="form-control" name="customerId" id="field_customerId"
                        [(ngModel)]="invoice.customerId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_orderId">Order Id</label>
                    <input type="number" class="form-control" name="orderId" id="field_orderId"
                        [(ngModel)]="invoice.orderId" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
