<div class="row justify-content-center">
    <div class="col-4">
        <div *ngIf="invoice">
            <h2><span>Invoice</span></h2><span style="text-align:right" class="small">{{invoice.paymentDate}}</span>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <div class="row">
                <div class="col-sm">
                    <h5>Invoice details</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm" >
                    <p>Payment date</p>
                    <p>Invoice number</p>
                    <p>Invoice status</p>
                    <p>Costs</p>
                    <p>Order Id</p>
                </div>
                <div class="col-sm" style="text-align:right">
                    <p>{{invoice.paymentDate}}</p>
                    <p>{{invoice.code}}</p>
                    <p>{{invoice.status}}</p>
                    <p>{{invoice.amount}} €</p>
                    <p>{{invoice.orderId}}</p>
                </div>
            </div>
            <hr>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>
        </div>
    </div>
</div>
