<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rating">
            <h2><span>Rating</span> {{rating.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Points</span></dt>
                <dd>
                    <span>{{rating.points}}</span>
                </dd>
                <dt><span>Product Id</span></dt>
                <dd>
                    <span>{{rating.productId}}</span>
                </dd>
                <dt><span>Customer Id</span></dt>
                <dd>
                    <span>{{rating.customerId}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{rating.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rating', rating.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
