<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="completeOrder">
            <h2><span>Complete Order</span> {{completeOrder.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Invoice Id</span></dt>
                <dd>
                    <span>{{completeOrder.invoiceId}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{completeOrder.status}}</span>
                </dd>
                <dt><span>Customer Id</span></dt>
                <dd>
                    <span>{{completeOrder.customerId}}</span>
                </dd>
                <dt><span>Total Price</span></dt>
                <dd>
                    <span>{{completeOrder.totalPrice}}</span>
                </dd>
                <dt><span>Order Date</span></dt>
                <dd>
                    <span>{{completeOrder.orderDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/complete-order', completeOrder.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
